@import url('https://fonts.googleapis.com/css?family=Roboto:300,100+Montserrat:300');

$text-color: #44402d;
$border-color: lightgray;
$side-bar-color: #5d7782;

* { margin:0; padding:0; box-sizing:border-box; }

body{
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  color: $text-color;
  // background-color: red;
}

.main-content{
  vertical-align: top;
  overflow-y: scroll;
  max-height: 100%;
  padding: 80px 50px 20px 30px;
}

.main-panel{
  width: 80%;
  display: inline-block;
  vertical-align: top;
  height: 100vh;
  position: relative;
  background-color: #efefef;
}

.side-bar {
  background: red; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #5d7782, #435c66); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #5d7782, #435c66); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #5d7782, #435c66); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #5d7782, #435c66); /* Standard syntax */
  width: 20%;
  height: 100vh;
  display: inline-block;
  position: relative;
}


.side-bar-heading{
  box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.3), 0 0px 5px 0 rgba(0, 0, 0, 0.3);
  height: 50px;
  color: white;
  background-color: $side-bar-color;
  text-align: center;
  margin-bottom: 10px;
  position: absolute;
  top: 0;
  width: 100%;
  h3{
    margin-top: 0px;
    padding: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
  }
}

.side-bar-content{
  padding-top: 60px;
  overflow-y: scroll;
  overflow-x: scroll;
  max-height: 100%;
}

main h1{
  text-align: center;
  margin-top: 30px;
}

.side-bar-item{
  display: -webkit-flex; /* Safari */
    -webkit-align-items: center; /* Safari 7.0+ */
    display: flex;
  margin: 5px 10px 3px 15px;
  padding: 8px 5px 8px 5px;
  border-radius: 2px;

  p{
    color: white;
    font-weight: 100;
  }

  img{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 10px;
  }

  &.active{
    background-color: #768c96;
  }

  &:hover{
    background-color: #657e89;
  }

}
/*****************/

.topnav {
    display: block;
    overflow: hidden;
    min-height: 50px;
    padding: 0px 40px 0px 40px;
  box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.3), 0 0px 5px 0 rgba(0, 0, 0, 0.3);
  display: -webkit-flex; /* Safari */
    -webkit-align-items: center; /* Safari 7.0+ */
    display: flex;
    align-items: center;
  height: 50px;
  position: absolute;
  top: 0;
  width: 100%;
  background-color: rgba(255,255,255,0.8);
}

/* Style the links inside the navigation bar */
.topnav a {
    display: inline;
    color: black;
    text-decoration: none;
    font-size: 15px;
    cursor: pointer;
    cursor: hand;
}

/* Add a color to the active/current link */
// .topnav a.active {
//     background-color: #4CAF50;
//     color: white;
// }

.nav-title{
  font-size: 18px;
  padding: 15px;
  margin-left: 20px;
  display: inline-block;
}

.nav-items-right{
  margin-left: auto;
}

.nav-icon{
  width: 25px;
  height: 25px;
  vertical-align: middle;
  margin: 0px 4px 0px 4px;
  border-radius: 50%;
}

.profile{
  display: inline-block;
  margin-right: 20px;
  margin-left: 20px;

  .profile-name{
    display: inline;
    margin: 0px 10px 0px 10px;
  }

  .profile-img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
  }
}

.search-bar{
  display: inline-block;
  margin: 0px 20px 0px 20px;

  .search-icon{
    width: 20px;
    height: 20px;
    opacity: 0.8;
    position: absolute;
    top: 14px;
  }

  .search-input{
    width: 250px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    border: 0;
    outline: 0;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    padding: 3px;
  }
}

.chart-row{
  width: 800px;
  margin: 0px auto;
}

.chart-col-2-container{
    width: 50%;
    display: inline-block;
}

.left{
  float: left;
  margin-bottom: 10px;
}

.right{
  float: right;
  margin-bottom: 10px;
}

.chart-col{
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 1px 0px 0 rgba(0, 0, 0, 0.1);
  text-align: center;
  background-color: white;
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 5px;

  h3{
    font-size: 18px;
    margin-bottom: 20px;
  }

  &.col-1{
      width: 800px;
      img{
        width: 500px;
        height: 150px;
      }
  }

  &.col-2{
    display: inline-block;
    margin: 0px auto;
    width: 395px;

      img{
        width: 250px;
        height: 120px;
      }
  }

}

table{
  // margin-bottom: 10px;
  width: 100%;
  border-radius: 2px;
  padding: 0px;

  th{
    background-color: $side-bar-color;
    color: white;
    font-weight: 100;
    font-size: 17px;
  }

  td{
    background-color: #e8e8e8;
    color: black;
    font-size: 15px;
  }

  td, th{
    padding: 2px;
  }
}

.table-container{
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 1px 0px 0 rgba(0, 0, 0, 0.1);
  text-align: center;
  background-color: white;
  padding: 20px;
  display: inline-block;
  margin: 0px auto;
  width: 395px;
  margin-top: 10px;
  border-radius: 5px;

  h3{
    font-size: 18px;
    margin-bottom: 20px;
  }

}
